* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


:root {
    --primary: #040623;
    --secondary: #080027;
    --text: #3a3636;
    --background: #ffffff;
}

.dark {
    --primary: #131313;
    --secondary: #ffffff;
    --text: #ffffff;
    --background: #585858;
}

.claro {
    --primary: #091453;
    --secondary: #2b2a68;
    --text: #000000;
    --background: #bccfec;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

header {
    background: var(--primary);
    color: white;
    padding: 2rem;
    text-align: center;
}

header .titulo {
    padding-top: 70px;
}

nav {
    width: 100%;
    background-color: var(--primary);
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li {
    transition: 200ms;
    padding: 5px;
}

nav ul li:hover {
    scale: 1.1;
    background-color: #181251;
    border-radius: 5px;
}

nav .tema button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    box-shadow: none;
    background-color: transparent;
    border: none;
}

nav .padrao {
    background-image: url("../assets/imgs/temap.png");
    background-size: cover;
}

nav .escuro {
    background-image: url("../assets/imgs/temad.png");
    background-size: cover;
}

nav .claro {
    background-image: url("../assets/imgs/temac.png");
    background-size: cover;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    background-color: #1f090917;
    border-radius: 15px;
    padding: 15px;
    scroll-margin-top: 100px;
}

section h2 {
    color: var(--secondary);
    margin-bottom: 0.5rem;
}

section p {
    margin-bottom: 0.5rem;
}

footer {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.imgs img {
    max-height: 200px;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 10px;
}

#simulador {
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}

#simulador input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 120px;
    margin-right: 10px;
}

#simulador button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#resultado {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.estado-ok {
    color: green;
}

.estado-alerta {
    color: orange;
}

.estado-perigo {
    color: red;
}

#slideshow {
    text-align: center;
    padding: 2rem;
}

.slideshow-container {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.slide {
    display: none;
    width: 100%;
    border-radius: 10px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
    user-select: none;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#contato {
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    margin: 1rem 35%;
}

#contato input,
#contato textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contato button {
    background-color: #0077b6;
    color: white;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resposta {
    margin-top: 1rem;
    font-weight: bold;
}

#quiz {
    padding: 2rem;
    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
    border-radius: 8px;
    color: black;
}

#quiz h2 {
    margin-bottom: 1rem;
}

#quiz button {
    background-color: #0077b6;
    color: white;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

#quizForm {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.pergunta {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#resultadoQuiz {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}